{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Wildfire Incidents Map</title>
  <link rel="stylesheet" type="text/css" href="{% static "leaflet/dist/leaflet.css" %}">
  <link href="{% static "screen.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="{% static "print.css" %}" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="{% static "ie.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
  <section id="incident-map">
  <h1>Wildfire Incidents Map</h1>

  <div id="map"></div>

  {% if incidents %}
    <p><strong>Note:</strong> the data for the incidents has changed and the following information is out-of-date.</p>
    <table id="incidents-data">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Location</th>
          <th>Lat/Lon</th>
          <th>Containment</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
      {% for incident in incidents %}
        <tr><td><a href="#" class="incident">{{ incident.name }}</a></td><td>{{ incident.incident_date }}</td><td>{{ incident.fire_location }}</td><td>{{ incident.point_lat }}, {{ incident.point_lon }}</td><td>{{ incident.percent_contained }}</td><td>{{ incident.fire_size_acres }} acres</td></tr>
      {% endfor %}
      </tbody>
    </table>
    <p><a href="/json">JSON formatted data</a>: download the JSON version of the data used for incident points and data. This does not include perimeters.</p>
  {% else %}
      <p>No incidents right now.</p>
  {% endif %}

  </section>

  <section id="about">
    <header><h1>About</h1></header>
    <p>There are several sites that provide maps and even some that have map data. Most systems though return maps that require plugins or other slow interfaces. This map was born to quickly represent much of this information in a usable way.</p>

    <p>The fire "point" data is pulled from: <a href="http://activefiremaps.fs.fed.us/">Active Fire Mapping Program</a>. It contains large incidents. The fire perimeter data is pulled from: <a href="http://www.geomac.gov/index.shtml">GeoMac</a></p>

    <p>Currently this is powered by a <a href="http://djangoproject.org">Django application</a> and then exported to S3.</p>

    <p>Site created by <a href="http://robballou.com" rel="me">Rob Ballou</a>, 2013.</p>
  </section>

  <script>
  var incidents = [
    {% if incidents %}
      {% for incident in incidents %}
        {
          'name': "{{ incident.name }}",
          'lat': "{{ incident.point_lat }}",
          'lon': "{{ incident.point_lon }}",
          'percent_contained': "{{ incident.percent_contained }}",
          'description': "{{ incident.description | safe }}",
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  ];
  </script>
  <script src="{% static "fire_perimeters.min.json" %}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="{% static "leaflet/dist/leaflet.js" %}"></script>
  <script>
  var map_center = [{{map_center_lat}}, {{map_center_lon}}];
  </script>

  <script src="{% static "wildfires.js" %}"></script>
</body>
</html>